.App {
  text-align: center;
}

h1,
h2.h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}
p {
  font-family: "Roboto";
  font-size: 18px;
}

/* Custom fonts  */

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../public/fonts/Roboto-Regular.ttf");
}
